* {
    /* border: solid 1px red; */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 9fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: royalblue;
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* grid-template-rows: repeat(auto-fit, 50px); */
}

ul,
div > ul {
    list-style-type: none;
    margin: 0;
}

.sidebar-icons {
    grid-column: 1;
}

.sidebar-text {
    grid-column: 2;
}

.sidebar-icons > ul > li {
    display: grid;
    grid-auto-rows: 50px;
    place-items: center;
    /* grid-column: 1 / 2; */
}

.sidebar-text > ul > li,
.sidebar-text > h1 {
    display: grid;
    grid-auto-rows: 50px;
    margin: 0;
    place-items: center start;
    /* grid-column: 2 / 3; */
}

.header {
    background-color: yellow;
    display: grid;
    grid-template-rows: auto auto;
}

.container-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.container-header > div {
    display: flex;
    align-items: center;
}

input[type='text'] {
    flex-grow: 1;
    height: 50%;
}

.hi-there > div > p,
.hi-there > div > h2 {
    margin: 0;
}

.search {
    width: 60%;
    gap: 15px;
}

.header-top-right {
    width: 30%;
    justify-content: space-around;
}

.header-top-right > h3 {
    margin: 15px 0;
}

.buttons {
    display: flex;
    gap: 20px;
    width: 35%;
}

button {
    height: 50%;
    flex: 1;
}

.main-content {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 70px 1fr;
    padding: 10px 20px;
}

.main-left,
.main-right {
    display: grid;
    grid-column: inherit;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
    padding-right: 20px;
}

.card.left {
    background-color: wheat;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.left > * > * {
    /* border: double red 1px; */
    margin: 0;
}

.card.left > div:nth-child(2) {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.card.right {
    background-color: wheat;
    padding: 2px 20px;
}

.card.right > div > p {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: smaller;  
}

.card.right > .layout {
    display: flex;
    gap: 20px;
}

.layout > div {
    flex-grow: 1;
}